# Секретные файлы и конфигурации
credentials.env
.env
*.env

# Временные файлы и папки IDE / системные файлы
.DS_Store
.idea/
.vscode/
*.log
venv/
__pycache__/

# Базы данных
*.db
*.db-journal
*.db-shm
*.db-wal
